---
name: checkov

on:
  pull_request:

jobs:
  scan:
    permissions:
      contents: read
      security-events: read
      actions: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@v12
        with:
          # This will add both a CLI output to the console and create a results.sarif file
          output_format: cli
          output_file_path: console
          skip_path: "./"
        continue-on-error: true
      - name: Upload SARIF file
          uses: github/codeql-action/upload-sarif@v3
          # Results are generated only on a success or failure
          # This is required since GitHub by default won't run the next step
          # when the previous one has failed. Security checks that do not pass will 'fail'
          # An alternative is to add `continue-on-error: true` to the previous step
          # Or 'soft_fail: true' to checkov
          if: success() || failure()
          with:
            sarif_file: results.sarif
...
